<h5 style = "text-align-center"> <%= @profile.displayname %>'s Profile <%= image_tag @profile.image.url, size: "50x50" %>  </h5>


<div class="row">
<div class="col-lg-3">
  <div id="user-info" class="well">
  <h5> Age: <%= age(@profile.birthdate) %>  </h5>
  <h5> Main Sport: <%= @profile.sport %> </h5>
  <h5> Given level: <%= @profile.skill %> </h5>
  <h5> User Rating: <%= @profile.get_upvotes.size %> </h5>
  <h5> User Wins <%= @profile.wins %> </h5>
    </div>
  </div>

  <%= react_component("NavMenu", props: {}, prerender: true) %>
  <div class="col-lg-6">
      <div id="activity">
        <h2 style = "text-align-center"> Friend's Activities </h2>
        <% if @activities.empty? %>
          <div class="well">
            <%= render('shared/no_resource', resources: 'Activities') %>
          </div>
        <% else %>
        <%= render_activities(@activities, layout: '/shared/activity') %>
        <% end %>
      </div>
      <%= render 'shared/paginate', resources: @activities %>
    </div>

<div class="col-lg-3">
   <% if @profile.user == current_user %>
     <div class="well">
       <ul class="nav nav-pills nav-stacked">
         <li><%= link_to 'Edit Profile', edit_profile_path(current_user) %></li>
         <li><%= link_to 'Change password', edit_user_registration_path %></li>
         <li><%= link_to 'Followers', followers_profile_path %> </li>
         <li><%= link_to 'Add achievements or records', profile_achievements_path %> </li>
         <li><%= link_to 'Add Photos', profile_photos_path %> </li>
       </ul>
     </div>
   <% end %>
 </div>
</div>
