<h1 style = "text-align-center"> This is a profile show action </h1>

<p>
  <strong> Profile Picture:</strong>
  <%= image_tag @coachprofile.image.thumb.url %>
</p>

<p>
<strong> I was born on: </strong>
<%=  @coachprofile.birthdate %>
</p>

</p>
<strong> A little something about me: </strong>
<%=  @coachprofile.description %>
</p>

<p>
<strong> You can find me at: </strong>
<%=  @coachprofile.address %>
</p>

<p>
<strong> I teach: </strong>
<%= @coachprofile.sport %>
<br>
</p>

<p>
<strong> My phone number is: </strong>
 <%= number_to_phone(@coachprofile.phonenumber) %>
</p>


<p>
<strong> My price is: $</strong>
 <%= @coachprofile.price %>
</p>

<br>
<br>
<%= link_to "edit Profile", edit_coachprofile_path %>
