<div class="page-header">
  <%= link_to groups_url, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    See groups
  <% end %>
  <% if current_user.in_all_groups?(@group, as: 'Captain') %>
  <%= link_to edit_group_path(@group), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <% end %>
  <h1><%= @group.name %></h1>
</div>


<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Member list</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @members.each do |member| %>
          <li><%= member.email %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"> Group Information</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li>Name: <%= @group.name %></li>
          <li>Location: <%= @group.location %></li>
            <li>Sport: <%= @group.sport %></li>
      </ul>
    </div>
  </div>
</div>
