<div class="page-header">
  <%= link_to groups_url, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    See groups
  <% end %>
  <%= link_to edit_group_path(@group), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Group Created</h1>
</div>


<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">member list</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @members.each do |member| %>
          <li><%= member.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<div class="col-md-3">

  Name: <%= @group.name %>
  <br>
  Location: <%= @group.location%>
  <br>
  This Group Plays: <%= @group.sport %>
<div>
