<div class="page-header">
  <%= link_to events_url, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>You're going!</h1>
</div>


<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">User list</h3>
    </div>
    <div class="panel-body">
      <ul>
        <% @attendees.each do |user| %>
          <li><%= user.email %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Information</h3>
    </div>
    <div class="panel-body">
      <ul>

          <li>Name: <%= @event.name %></li>
          <li>Still needs: <%= @event.need %></li>
          <li>Address: <%= @event.address %></li>
          <li>Game: <%= @event.sport %></li>
          <li>Time: <%= @event.need %></li>
      </ul>
    </div>
  </div>
</div>
