<%= form_for @photo, :url => { :controller => 'photos', :action => 'create'} do |f|%>

<div class = "field">
	<%= f.label :name, "What do you name your photo" %><br>
	<%= f.text_field :name %>
</div>
<br />

	<div class = "field">
		<%= f.label :description, "Any additional info?" %> <br />
		<%= f.text_area :description %>
	</div>
	<br />

	<div class = "field">
		<%= f.label :image, "Upload the Picture" %><br>
		<%= f.file_field :image %>
	</div>

	<div class="actions">
		<%= f.submit 'Add!' %>
	</div>

	<% end %>
